<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              您好, Admin
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">個人資料</a></li>
              <li><a class="dropdown-item" href="#">更改密碼</a></li>
              <li><a class="dropdown-item" href="/admin/logout">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-page d-flex">
    <div class="left-menu bg-light p-2 text-dark bg-opacity-25">
      <div>ADMIN</div>
      <div class="logo-area">
        <img src="https://shoplineimg.com/5e78283e9e08ce0015908f97/5ebe7b065fe14f004b7e6c0a/x140.webp?source_format=jpg"
          class="admin-logo-image" alt="">
      </div>
      <ul class="nav flex-column nav-pills">
        <li class="nav-item hide">
          <a class="nav-link" aria-current="page" href="/admin">總覽</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/admin/orders">訂單管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/admin/products">商品管理</a>
        </li>
        <li class="nav-item hide">
          <a class="nav-link">庫存管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/admin/customers">顧客管理</a>
        </li>
        <li class="nav-item hide">
          <a class="nav-link">設定</a>
        </li>
      </ul>
    </div>
    <div class="main-content">
      {{{body}}}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>