<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>晟品凍洋</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="menu-buttons d-flex justify-content-end">
    <a href="#" class="menu-button btn btn-sm btn-outline-secondary m-1"><span class="fa fa-user-circle"></span><span
        class="menu-words">我的帳戶</span></a>
    <a href="/cart" class="menu-button btn btn-sm btn-outline-secondary m-1"><span
        class="fa fa-shopping-cart"></span><span class="menu-words">購物車</span></a>
    <a href="#" class="menu-button btn btn-sm btn-outline-secondary m-1"><span class="fa fa-comment"></span><span
        class="menu-words">聯絡我們</span></a>
  </div>
  <div class="body-wrapper">
    <div class="body-content">
      <nav class="main-navigation">
        <div class="navbar-wrapper">
          <div class="navbar hidden-xs row" role="navigation">
            <div class="navbar-header-wrapper rol-12">
              <div class="container d-flex justify-content-center">
                <div class="navbar-header">
                  <a href="#"><img
                      src="https://shoplineimg.com/5e78283e9e08ce0015908f97/5ebe7b065fe14f004b7e6c0a/x140.webp?source_format=jpg"
                      class="logo-image" alt=""></a>
                </div>
              </div>
            </div>
            <div class="navbar-menu-wrapper rol-12">
              <div class="container">
                <div class="navbar-menu">
                  <ul class="text-primary-color nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-secondary" href="#">關於晟品凍洋</a></li>
                    <li class="nav-item"><a class="nav-link text-secondary" href="/products">極凍海鮮</a></li>
                    <li class="nav-item"><a class="nav-link text-secondary" href="#">人氣分享</a></li>
                    <li class="nav-item"><a class="nav-link text-secondary" href="#">廠商合作</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main>
        <div class="yield-wrapper my-3">
          {{{body}}}
        </div>
      </main>

    </div>
    <div class="footer container">
      <div class="row">
        <div class="col">
          <h4>顧客服務</h4>
          <ul class="list-unstyled">
            <li>關於購物</li>
            <li>付款方式與說明</li>
            <li>退換貨說明</li>
            <li>哪裡找凍洋</li>
          </ul>
        </div>
        <div class="col">
          <h4>更多資訊</h4>
          <ul class="list-unstyled">
            <li>凍洋智庫</li>
          </ul>
        </div>
        <div class="col">
          <h4>聯絡我們</h4>
          <ul class="list-unstyled">
            <li>電話 / 02-27130290 / 0989637669</li>
            <li>時間 / Mon - Fri 9:00 - 18:00</li>
            <li>E-mail / oceanleaderoceanice@gmail.com</li>
          </ul>
        </div>
        <div class="col">
          <div>加入line好友優惠搶先看</div>
        </div>
        <div class="col-12 text-center">隱私條款及細則 | 2020 © 晟品凍洋Oceanice</div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>