body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-header, .container {
  outline: black solid 2px;
}
.container {
  max-width:1170px;
}

.card, .card-body {
  outline: 0;
}

.admin-logo-image {
  width: 3.5rem;
}

.navbar-fixed {
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.left-menu {
  width: 270px;
}

html,
body {
  height: 100%;
}
.main-page {
  height:calc(100% - 56px);
}
.main-content {
  width: 100%;
}